*,ul {
    margin: 0;
    padding: 0
}

* {
    border: 0;
    font-family: "Roboto",sans-serif
}

.section1,header {
    display: flex;
    background-color: #1f2937;
    color: #fff;
    align-items: center
}

header {
    justify-content: space-between;
    height: 40px;
    gap: 300px;
    padding: 8px 15px
}

#header {
    font-size: 20px
}

#webawe {
    font-size: 40px;
    font-weight: 900
}

a {
    text-decoration: none;
    color: #fff;
    transition: all .5s linear
}

li a:hover {
    color: #949494
}

ul {
    list-style: none
}

li {
    display: inline
}

ul li {
    margin: 5px
}

.section1 {
    height: 300px;
    justify-content: center;
    padding: 10px
}

.bottone1 {
    background-color: #3882f6;
    padding: 8px;
    color: #fff;
    border-radius: 10px;
    margin-top: 8px;
    width: 100px;
    font-weight: 700;
    transition: all .2s linear
}

.bottone1:hover,.bottone4 button:hover {
    background-color: #244b8b
}

.sub1,.sub2 {
    display: flex;
    flex: 1
}

.sub1 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px
}

.sub2 {
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px
}

.tuttosezione2 {
    margin-bottom: 150px
}

.immaginisection2,.section2 {
    display: flex;
    justify-content: center
}

.section2 {
    align-items: center;
    height: 200px
}

.immaginisection2 {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    gap: 40px
}

.immaginisection2 img {
    max-width: 200px;
    max-height: 200px
}

.immagine1,.immagine2,.immagine3,.immagine4 {
    text-align: center;
    max-width: 200px
}

.immagine1 img,.immagine2 img,.immagine3 img,.immagine4 img {
    display: flex;
    margin: 0 auto
}

#tuttoquarta,.section3 {
    display: flex;
    justify-content: center
}

.section3 {
    flex-direction: column;
    background-color: #e5e7eb;
    text-align: center
}

.citazione {
    margin-top: 200px;
    margin-bottom: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #505152
}

.credito {
    padding-top: 40px;
    padding-left: 800px;
    flex-basis: 200px;
    color: #000;
    font-weight: 700;
    font-size: 20px
}

.credito::before {
    content: "— "
}

.bottone4 button,.fourthsec {
    display: flex;
    background-color: #3882f6
}

.fourthsec {
    width: 900px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 150px;
    border-radius: 10px
}

#tuttoquarta {
    align-items: center
}

.bottone4 button {
    border: 2px solid #fff;
    padding: 7px 25px;
    border-radius: 8px;
    font-weight: bolder;
    flex: 2;
    transition: all .3s linear;
    font-size: 15px
}

.scritta {
    display: flex;
    flex-direction: column;
    color: #fff;
    flex: 1
}

.footer
{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 30px;
    justify-content: center;
    align-items: center;
}